:root {
    --primery-text-color:#757575;
    --title-text-color:rgba(33, 33, 33, 1);
    --accent-color:#ffffff;}

html {box-sizing: border-box;}

*,
*::after,
*::before {box-sizing: inherit;} 

.body {
    margin: 0 auto;
    color: var(--title-text-color);

    font-family: Roboto, sans-serif ;
    letter-spacing: 0.03em;
}
a {text-decoration: none;}

/* Header */
.container {width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }

/*site-nav list*/

.page-header {
    align-items: center;
    padding: 0px;
    border: 1px solid #ECECEC;} 

.page-header .container {
    display: flex;
    align-items: center;
}

.logo {
    color: #2196F3;
    font-family: Raleway, sans-serif ;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    display: block;}

.logo-black {color: #000000;}

.site-nav {cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 0px;

    display: flex;
    margin-left: 93px;
    margin-top: 0px;
    margin-bottom: 0px;}

.site-nav .item + .item {margin-left: 50px;}

.link {display: block ;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.link {color: var(--title-text-color);} 
.link:hover, .link:focus, .link:active {color: #2196F3;}

.link-studio::after{content:'';
    display: flex;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;

    left:0;
    bottom:0;
    opacity: 1;}

.link-portfolio::after{content:'';
    display: flex;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    
    left:0;
    bottom:0;
    opacity: 1;}

.link::after{content:'';
    display: flex;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;

    position: absolute;
    left:0;
    bottom:0;

    opacity: 0;}



.link-studio {display: block ;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.link-studio {color: #2196F3} 
.link-studio:hover, .link-studio:focus,.link-studio:active {color: #2196F3;}

.link-portfolio {display: block ;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.link-portfolio {color: #2196F3} 
.link-portfolio:hover, .link-portfolio:focus,.link-portfolio:active {color: #2196F3;}
    
/*contact-info*/ 
.contact-header {color:var(--primery-text-color) ;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}
.contact-header:hover, .contact-header:focus, .contact-header:active {color: #2196F3;}


.contact-info {font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding: 0px;
    margin-left: auto;
    list-style: none;
    display: inline-flex;}
.contact-info .item-contact + .item-contact {margin-left: 30px;}

    /* іконки*/
.item-contact {
    display: flex;
    content:"";
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;}
    
.mail-sign{
    margin-right: 10px;
    height: 10px;  
    width: 16px;
    fill: #757575;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.item-contact:hover .mail-sign{fill: #2196F3;}

.tel-sign{ 
    margin-right: 10px;   
    height: 16px;
    width: 10px;
    fill: #757575;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);} 
.item-contact:hover .tel-sign{fill: #2196F3;}

/*Ефективні рішення для вашого бізнесу*/
.main {text-align: center;}

    /* картинка-фон */
.main-class {background: #2F303A;
    background-image:linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../img/Imgmain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;}

.main-title {color:var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
    margin-top: 0;} 

.main-title-button {cursor: pointer;
    background-color: #2196F3;
    color:var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    display: inline-block;
    border-radius: 4px;
    border: solid transparent;
    padding: 10px 32px;
    min-width:216px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.main-title-button:hover, .main-title-button:focus, 
.main-title-button:active {color: #F5F4FA;
    background-color:  #2196F3;
    border-color: #2196F3;}

/*план*/
.plan-works {text-align: left;
    padding-top: 94px;
    padding-bottom: 118px;}

.plan-work-item {
    display: flex;
    margin-left: -30px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;}   

.plan-work-item .plan-work {
    width: calc((100% - 30px)/4);
    margin-left: 30px;}
    
    /* іконки*/
.icon-plan{
    display: flex;
    height: 120px;
    width: 270px;

    background: #F5F4FA;
    border-radius: 4px;

    align-items: center;
    justify-content: center;}

.antenna-sign{height: 70px;
    width: 65px;}
.clock-sign {height: 70px;
    width: 67px;}
.diagram-sign{height: 70px;
    width: 54px;}
.astronaut-sign{height: 70px;
    width: 70px;}

.main-plan {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    margin-top: 0;
    margin-bottom: 10px;}

.plan {color: var(--primery-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;}

/*Чим ми займаємося*/
.working {
    padding-top: 0;
    padding-bottom: 94px;}

.working-page {font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-top: 0;
    margin-bottom: 50px;}

.working-img {display: flex;
    margin-right: -30px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    height: 294px;}

.working-img .img {flex-basis: calc((100% - 30px) / 3);
    margin-right: 30px;}

    /* Позиціонування */
.img-application{position: relative;
    z-index: 1;
    overflow: hidden;} 
.application{ display: flex;
    height: 70px;
    width: 370px;

    background-color: rgba(47, 48, 58, 0.8);
    align-items: center;
    justify-content: center;

    position: absolute; 
    bottom:0;} 


.application-computer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    margin-top: 0;
    margin-bottom:0;}



/*Наша команда*/
.team-work {font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    padding-top: 94px;
    padding-bottom: 50px;
    margin-top:0;
    margin-bottom:0;}

.name-people {border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px}

 /* іконки */
 .soc-people {background-color: #FFFFFF;
    display: inline-flex;
    
    height: 44px;
    width: 44px;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    margin-left: 0;
    margin-top: 16px;  
    margin-right: 10px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.soc-people:hover, .soc-people:focus {background-color: #2196F3;}

.instagram{height: 20px;
    width: 20px;
    background-position:center;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.soc-people:hover .instagram{fill: #FFFFFF;}

.twitter{height: 16px;
    width: 20px;
    background-position:center;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.twitter:hover{fill: #FFFFFF;}
.soc-people:hover .twitter{fill: #FFFFFF;}

.facebook{height: 20px;
    width: 20px;
    background-position:center;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.facebook:hover{fill: #FFFFFF;}
.soc-people:hover .facebook{fill: #FFFFFF;}

.linkedin{height: 20px;
    width: 20px;
    background-position:center;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.linkedin:hover{fill: #FFFFFF;}
.soc-people:hover .linkedin{fill: #FFFFFF;}

.team {
    padding-top: 0px;
    padding-bottom: 94px;
    background: #F5F4FA;}

.foto img {display: block;}

.work-foto {display: flex;
    margin-right: -30px;
    padding: 0;
    margin: auto;}

.work-foto .foto {background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    flex-basis: calc((100% - 30px) / 4);}

.name {font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;}

.profession {color:var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin: 0;}

    
/* Постійні клієнти */
.client-comment {font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
  
    padding-bottom: 50px;
    margin: 0;}

.client{
    margin-left: 30px;
    margin-top: 0;
    margin-left: 0;  
    padding-top: 94px;
    padding-bottom: 94px;}
    
.company-box { display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -30px;}

    /* іконки */
.box {display: flex;
    cursor: pointer;

    height: 92px;
    width: 170px;         
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: #fff;
    flex-basis: calc((100% - 30px) / 6);
    margin-left: 30px;

    align-items: center;
    justify-content: center;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.box:hover {border: 1px solid #2196F3;}
   
.group-yaco {height: 47px;
    width: 41px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.box:hover .group-yaco{fill:#2196F3;}

.group-taglinehere {height: 52px;
    width: 40px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.box:hover .group-taglinehere{fill:#2196F3;}

.group-company {height: 41px;
    width: 43px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.group-company:hover{fill:#2196F3;}
.box:hover .group-company{fill:#2196F3;}

.group-faster {height: 41px;
    width: 84px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.box:hover .group-faster{fill:#2196F3;}

.group-brand {height: 46px;
    width: 62px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.box:hover .group-brand{fill:#2196F3;}

.group-tagline {height: 60px;
    width: 106px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.box:hover .group-tagline{fill:#2196F3;}

/*footer*/
.footer-color {background-color: #2F303A;}

.footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    padding-top: 60px;
    padding-bottom: 60px;
    display: block;}

.container-footer {margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;}

.logo-footer {color: #2196F3;
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    padding-bottom: 20px;
    display: block;}
.logo-white {color: #FFFFFF;}

.item-adress {margin-bottom: 9px;}
.item-adress:nth-child(3n) {margin-bottom: 0;}

.adress {color: var(--accent-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.adress:hover, .adress:focus, .adress:active {color: #2196F3;}

.adress-footer {color:rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.adress-footer:hover, .adress-footer:focus, .adress-footer:active {color: #2196F3;}

/* join */
.join-soc {font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;}

.join {display: flex;

    height: 80px;
    left: 206px;
    margin-left: 70px;
    margin-top: 72px;}
.infofotter {display: flex;}

    /* іконки */

 .soc-footer {background-color: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    cursor: pointer;

    height: 44px;
    width: 44px;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    margin-left: 0;
    margin-top: 20px;  
    padding: 0px;
    margin-left: 10px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.soc-footer:nth-child(2){margin-left: 0px;}
.soc-footer:hover {background-color: #2196F3;}

.instagram-footer{height: 20px;
    width: 20px;
    background-position:center;}

.twitter-footer{height: 16px;
    width: 20px;
    background-position:center;}

.facebook-footer{height: 20px;
    width: 20px;
    background-position:center;}

.linkedin-footer{height: 20px;
    width: 20px;
    background-position:center;}

    /* підпишіться на розсилку */

.mailing-block {display: flex;
    height: 86px;
    left: 206px;
    margin-left: 93px;
    margin-top: 72px;}

.mailing-menu{display: inline-flex;
padding-right:12px ;}

.mailing-mail input{margin: 0;
    margin-top: 0px;
    padding: 0;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;}
    
.mailing-mail input::placeholder{color:rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;} 
    
.mailing-mail input{
    margin:0;
    padding: 15px 16px;} 

.mailing-text {font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin:0px;
    padding-bottom: 20px;}

.button-fly{display: inline-flex;}
    
.mailing-button {cursor: pointer;
    background-color: #2196F3;
    color:var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center; 
    letter-spacing: 0.06em;
    
    width: 200px;
    height: 50px;
    display: flex;
    border-radius: 4px;
    border: solid transparent;
    padding: 0;
    min-width:200px;
    position: relative;
    padding-left: 28px;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.mailing-button:hover, .mailing-buttont:focus, 
.mailing-button:active {color: #F5F4FA;
    background-color:  #2196F3;
    border-color: #2196F3;}

.icon-fly{display: inline-flex;
position: absolute;
right:28px;
bottom:13px;

}
.icon-fly-button{
    height: 24px;  
    width: 24px;
    fill: #FFFFFF;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.mailing-button:hover .icon-fly-button{fill: #F5F4FA;}

/*portfolio*/
/*button*/
.menu {display:flex;
    justify-content: center;
}
.menu-title {padding-right: 15px;
    margin: 0;
    padding-top: 94px;
    padding-bottom:50px ;}

.menu-title:nth-child(5){padding-right: 0;}

.menu button{
    cursor: pointer;
    background: #F5F4FA;
    border-color: #F5F4FA;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;    
    text-align: center;

    display: inline-block;
    border-radius: 4px;
    border: solid transparent;

    padding: 6px 22px;
    min-width: 73px;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.menu button:hover,
.menu button:focus,menu:active {color: var(--accent-color);
    background-color: #2196F3;box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);} 

/*СПЕЦІАЛІЗАЦІЯ*/
.container-work{padding-bottom:94px;
    padding-top: 0px;}

.works {display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin:-15px;}

.work {transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.work:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);}

.works .work {background-color: #FFFFFF;
    width: 370px;
    flex-basis: calc((100% - 30px) / 9);
    margin: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;}

.works .work:nth-child(n+7) {margin-bottom: 0;}

.work img {display: block;}


/* Рамка */
.border-work {padding: 20px 0px 20px 23px;
    border: 1px solid #EEEEEE;}

/* .work:nth-child(3n) {margin-right: 0;}
.work:nth-last-child(-n + 3) {margin-bottom: 0;} */

.work img:hover, .work:focus, .work:active {border-color: #2196F3;}

.work-list {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    /* outline: 1px solid red; */
    margin-top: 0;
    margin-bottom: 4px; }

.wokr-name {color:#757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;} 
    
/* Позиціонування */
.click-text {position: relative;
overflow: hidden;}

.click-block{display: flex;
    height: 294px;
    width: 370px;
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0px;
    opacity: 0;

transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.text{color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
margin-top: 63px;
margin-bottom: 63px;
margin-left: 24px;
margin-right: 24px;
}

.work:hover .click-block {opacity: 1;
    transform: translateY(0);}


/* Модальне вікно */
/* beckdrop */
.backdrop {position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.2) ;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;}

.backdrop.is-hidden {opacity: 0;
    pointer-events: none;}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9);}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;

    height: 581px;
    width: 528px;

    background-color:#FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button{display:flex;
    position: absolute;
    margin-top: 8px;
    margin-left: 490px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    padding: 0;
    align-items: center;
    justify-content: center;} 

.close-button-icon{fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.close-button-icon:hover{fill: #2196F3;}


    /* Залиште свої дані, ми вам передзвонимо */
textarea{resize: none;}

.form{width: 448px;
    outline: 1px solid tomato;
    margin-left:40px;
    margin-right: 40px;}
    
.form-field{
display: flex;
flex-direction: column;} 

.class-input{
    cursor: pointer;
    height: 40px;
    width: 448px;
    padding-left: 42px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: rgba(33, 33, 33, 0.2);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.class-input:focus {border-color: #2196F3}  

.form-item:last-child {
    margin-bottom: 0;}
.form-item{margin-bottom: 10px;
    position: relative;}

.form-block {font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #757575;}

.form-img{position: absolute;
    cursor: pointer;
    width: 18px;
    height: 18px;
    left: 15px;
    bottom: 11px;    
    display: inline-block;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.form-item:focus-within >.form-img {fill: #2196F3;}

.
 /* .person-black:hover{fill: #2196F3;}
.person-black:hover{fill: #2196F3;}
.form-input-person:hover .person-black {fill: #2196F3;}  */

/* коментар */
::placeholder{color:rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.01em;} 

.comment-text{
    cursor: pointer;
    height: 120px;
    width: 448px;
    margin:0;
    padding: 12px 16px;
    margin-top: 4px;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: rgba(33, 33, 33, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.comment-text:focus {border-color: #2196F3;}

.form-page{font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    padding-top: 40px;
    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: 0px;}

.form-policy{text-align: center;
padding-top: 20px;
padding-bottom: 30px;}

.form-policy label {margin-left: 8px;}

.form-policy input[type='checkbox']{}

.policy-text{font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #757575;}
.policy-text-part {color: #2196F3;
    text-decoration: underline;}

.form-button{text-align: center;}
.form-button-text {cursor: pointer;
    background-color: #2196F3;
    color:var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    display: inline-block;
    border-radius: 4px;
    border: solid transparent;
    padding: 10px 32px;
    min-width:216px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.form-button-text:hover, .form-button-text:focus, 
.form-button-text:active {color: #F5F4FA;
    background-color:  #2196F3;
    border-color: #2196F3;}


/* transition-property: color, background-color, box-shadow;
transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); */


/* --primery-text-color:#757575;*/
/* --title-text-color:rgba(33, 33, 33, 1);*/
/* --accent-color:#ffffff;*/
/* --logo-color: #2196F3 */